#pai{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    font-size: 55px;
    user-select: none;
   
}
td{
    border: 2px solid;
    background-color: white;
    text-align: center;
    padding: 10px;
}
body{
    background-color: rgb(56, 255, 245);
}
td:hover{
    background-color: deeppink;
}
table{
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
}
.classe{
    border: none;
}